#main {
    height: 98vh;
}

#topic {
    background-color: #0096FF;
}

#userDetails {
    display: none;
}

#profileImage {
    height: 14rem;
    width: 14rem;
}

#outer {
    height: 14rem;
    width: 14rem;
}

#topic {
    font-size: 13px;
}

.form-control#username:focus {
    box-shadow: none !important;
}

#loader {
    display: none;
}

#loader.show {
    display: block;
}

#errorHandler {
    display: none;
}

#errorHandler.show {
    display: block;
}